/* 01 navbar css */

.header {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header .navbar {
    background: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;
}

.navbar-brand {
    width: 7.5rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link{
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav  .nav-link.active {
    color: var(--secondary-color);
}

.header .navbar-toggler {
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}

.header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header-scrolled {
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    /* box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%); */
    transition: 0.3s ease-in-out;
}

.form-control{
    border-radius: 60px;
    border-color: var(--secondary-color);
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--primary-font);
    margin-right: -52px;
    width: 25rem;
    margin-top: 3px;
}

.btn{
    border-radius: 60px;
    color: var(--dark-color);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--primary-font);
    border-color: var(--secondary-color);
    height: 3rem;
    border-bottom-width: 2px;
    background-color: var(--secondary-color);
    margin-top: 3px;
}

.icon-use{
    display: flex;
    gap: 3rem;
}

.cart{
    width: 2.5rem;
}

.user{
    width: 2.5rem;
}


/* 02 Banner Section */

.banner_section {
    background: url('../img/banner-slide/Banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

.banner_section .carousel-item {
    padding: 3rem 0;
    height: 90vh;
}

.banner_section .carousel-caption {
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}

.banner_section .carousel-caption h3 {
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-color);
    display: inline;
}

.banner_section .carousel-caption p {
    max-width: 40rem;
    margin-bottom: 2rem;
}



/*feature section */
.heading{
    text-align: center;
    font-size: 4rem;
}
span{
    color: var(--text-white);
    background-color: var(--secondary-color);
    display: inline-block;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    padding: .8rem;
}













/* footer section */


.footer_wrapper {
    background: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 15rem;
    padding-bottom: 0rem;
}

.footer_wrapper h5 {
    color: var(--text-white);
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.footer_wrapper ul li {
    margin-bottom: .5rem;
    list-style: none;
}

.footer_wrapper .company_details {
    font-size: 1.4rem;
}

.footer_wrapper .contact-info li a {
    color: var(--text-gray);
    font-size: 1.6rem;
}

.footer_wrapper .link-widget li a,
.footer_wrapper p {
    color: var(--text-gray);
    font-size: 1.6rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a::before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover {
    margin-left: .625rem;
    color: var(--secondary-color);
}

.footer_wrapper .social-network a {
    width: 3.5rem;
    height: 3.5rem;
    margin: .5rem;
    line-height: 3.2rem;
    font-size: 1.5rem;
    display: inline-block;
    border: .125rem solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    transform: translateY(-0.1875rem);
}

.footer_wrapper .form-control {
    font-size: 2rem;
    color: white;
}

.footer_wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}

.footer_wrapper .copyright-section {
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: 5rem;
}

.footer_wrapper .copyright-section p {
    margin-top: 0;
    padding: 3rem 0;
    line-height: 0;
}

.footer_wrapper .copyright-section a {
    color: var(--primary-text);
    font-weight: 600;
}


/* About Page CSS */

.about .about-details p {
    color: var(--primary-text);

}


/* ===========================
Contact Page CSS
============================== */
.contact .contact-form textarea {
    min-height: 15rem;
}

.contact .content-box .info-box li {
    position: relative;
    padding-left: 7rem;
    padding-bottom: 3.5rem;
    margin-bottom: 2.9rem;
}

.contact .content-box .info-box li i {
    position: absolute;
    left: 0;
    top: 1.5rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: var(--primary-text);
}

.contact .content-box .info-box li p {
    color: var(--primary-text);
}

.contact .content-box .info-box li a {
    color: var(--dark-color);
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
    font-family: var(--secondary-font);
}





















/*media query */
/* Media Query 1170px */
@media(max-width:1170px){
    .header .navbar{
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav{
        margin-top: 2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;

    }

    .d-flex{
        margin-top: -1.5rem;
    }
    .nav-item{
        margin-top: -1rem;
    }

}

@media(max-width:991px){



    /* make icons and toggler sit on the same line, on the right */
    .icon-use{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-left: auto;
        flex: 0 0 auto;
    }

    /* ensure toggler stays inline with icons */
    .header .navbar-toggler{
        margin-left: 0.6rem;
        display: inline-flex;
        align-items: center;
        flex: 0 0 auto;

    }

    /* collapse area (nav links / form) flows below the top row */
    .header .navbar .navbar-collapse{
        width: 100%;
        order: 3;
    }

    /* stack nav links vertically and make links full width for touch */
    .header .navbar-nav{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin-top: 1rem;
        width: 100%;
    }

    .header .navbar-nav .nav-link{
        padding: 0.6rem 0;
        margin: 0;
        width: 100%;
    }

    /* make form and button adapt to small widths */
    .form-control{
        margin-left: 7rem;
        margin-top: 0.6rem;
    }

    .btn{
        margin-top: 0.6rem;
        margin-right:3.5rem;
    }

    /* slightly smaller icon sizes to help fit */
    .cart,
    .user{
        width: 2.5rem;
        height: auto;
    }

    /* keep good spacing when collapse is shown */
    .header .navbar .navbar-collapse.show{
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }

    /* icon-use gap adjestment*/
    .icon-use{
        gap: 2.5rem;
        margin-top: -2px;
        margin-right: 10px;
    }
     .fas{
        margin-top: 10px;
     }

.bbanner_section {
        min-height: 80vh;
    }

    .banner_section .carousel-item {
        height: 80vh;
    }





}

@media(max-width:767px){

      /* 02 Banner Section */
    .banner_section {
        min-height: 70vh;
    }

    .banner_section .carousel-item {
        height: 70vh;
    }

}

@media(max-width:470px){
    /* function section */
    .heading{
        font-size: 2.4rem;
    }
}
